body {
  font-family: Segoe UI Symbol;
  margin: 0px;
}

h2 {
  color: #21243d;
  font-family: Hind, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.extra-padding {
  padding: 33vh 0;
}

.content{
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}

.content-middle{
  margin-left: 5vmin;
  display: flex;
}

.navbar {
  z-index:1;
  top: 0; left: 0; right: 0;
  width: 100%;
  position :fixed;
  align-items: center;
  background-color: #042f66;
  background: linear-gradient(to bottom, black, #042f66);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: 1.2s;
}

.navbar.active {
  background-color: #042f66;
  min-height : 10vh;
  transition: 1.2s;
}

.navbar-title {
  font-size: 38px;
  font-weight: 300;
}

.stars {
  color: #ffd700;
}

.imgblock{
  display: inline-block;
  vertical-align: top;
}

.textblock{
  display: inline-block;
}

.ais-SearchBox {
  margin: 1em 0;
  height: 64px;
  width: 80vw;
}

.ais-SearchBox .ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  font-family: Hind, sans-serif;
  height: 64px;
  padding: 4px 48px 0 64px;
}

.ais-SearchBox .ais-SearchBox-input::placeholder {
  color: rgba(33, 36, 61, 0.24);
  opacity: 1; /* Firefox */
}

.ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-submit {
  color: #e2a400;
}

.ais-RefinementList .ais-SearchBox-input {
  font-family: Hind, sans-serif;
  /*
    The "Hind" font family is vertically off-balance.
    Adding some padding top makes it more vertically aligned.
  */
  padding-top: 2px;
}

.ais-Pagination {
  margin-top: 1em;
}


.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-item,
.ais-Pagination-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ais-Pagination-item {
  height: 38px;
  width: 38px;
}

.ais-Pagination-item {
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 4px;
  color: #414247;
}

.ais-Pagination-item--selected {
  background-color: #e2a400;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.34),
    rgba(255, 255, 255, 0)
  );
  font-weight: bold;
}

.ais-Pagination-item--firstPage,
.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage {
  background: none;
}

.ais-Pagination-link {
  height: 100%;
  width: 100%;
}

.left-panel {
  float: left;
  width: 40vh;
}

.right-panel {
  flex-direction: column;
  padding-left: 10vh;
  max-width: 150vh;
  display: flex;
  padding-bottom: 2vh;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}


.ais-Hits-item {
  margin-bottom: 1em;
  min-width: 50vh;
}

.ais-Hits-item img {  
  margin-right: 1em;
}

.hit-name {
  margin-bottom: .5em;
  font-weight: bold;
}

.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: .5em;
}

.ais-Hits-list {
  
}

.div-footer{
  padding-top: 2vh;
  justify-content:center;
align-items:center;
text-align: center;

}

#footer {
  display:flex;
bottom: 0;
left: 0;
right: 0;
height: 50px;
width: 100%;
border-top: 1px solid white;
justify-content:center;
align-items:center;
background-color: tomato;
}


@media only screen and (max-width: 1200px) {
  .left-panel {
      display: none;
  }
}